.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}
.form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.form button:hover {
    background-color: #0056b3;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

